<div class="app-shell">
  <header class="app-header">
    <h1>APIs Dashboard</h1>
    <h3>1) Sergio Mauricio Alcocer Valenzuela</h3>
    <h3>2) Segundino Arriaga Janco</h3>
    <hr />
    <p class="subtitle">Explora cada API en su pestaña</p>
  </header>

  <nav class="tabs">
    <button class="tab" [class.active]="activeTab() === 'dogs'" (click)="setTab('dogs')">
      Dogs
    </button>
    <button class="tab" [class.active]="activeTab() === 'movies'" (click)="setTab('movies')">
      Movies (TMDB)
    </button>
    <button class="tab" [class.active]="activeTab() === 'countries'" (click)="setTab('countries')">
      Countries
    </button>
    <button class="tab" [class.active]="activeTab() === 'nasa'" (click)="setTab('nasa')">
      NASA
    </button>
    <button class="tab" [class.active]="activeTab() === 'fbi'" (click)="setTab('fbi')">FBI</button>
    <button class="tab" [class.active]="activeTab() === 'games'" (click)="setTab('games')">
      Games
    </button>
    <button class="tab" [class.active]="activeTab() === 'quotes'" (click)="setTab('quotes')">
      Quotes
    </button>
    <button class="tab" [class.active]="activeTab() === 'weather'" (click)="setTab('weather')">
      Weather
    </button>
  </nav>

  <main class="content-card">
    <!-- DOGS -->
    <app-dogs *ngIf="activeTab() === 'dogs'"></app-dogs>

    <!-- TMDB -->
    <app-movies *ngIf="activeTab() === 'movies'"></app-movies>

    <!-- COUNTRIES -->
    <app-countries *ngIf="activeTab() === 'countries'"></app-countries>

    <!-- NASA -->
    <app-nasa *ngIf="activeTab() === 'nasa'"></app-nasa>

    <!-- FBI -->
    <app-fbi *ngIf="activeTab() === 'fbi'"></app-fbi>

    <!-- GAMES -->
    <app-games *ngIf="activeTab() === 'games'"></app-games>

    <!-- QUOTES -->
    <app-quotes *ngIf="activeTab() === 'quotes'"></app-quotes>

    <!-- WEATHER -->
    <app-weather *ngIf="activeTab() === 'weather'"></app-weather>
  </main>
</div>
